html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

body {
  background: #f7f7f7;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.calendar-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.calendar-row .calendar-col {
  flex-grow: 1;
  width: 13%;
}

.calendar-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .calendar-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .calendar-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .calendar-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .calendar-container {
    max-width: 1140px;
  }
}
